@import url("https://gistcdn.githack.com/mfd/7c7a915eb31474cc8c6a65066a4c4dc3/raw/f0f2fb94c21dea904812a53e0eb6cf0bc87f3754/GTWalsheimPro.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GT Walsheim Pro", serif;
    font-weight: 300;
    text-decoration: none;
}

a {
    color: inherit;
}

.register {
    background: #F6F5F7;
    display: flex;
    width: 100%;
    height: calc(100vh - 25px);
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    justify-content: space-between !important;
    flex-direction: column;
    background: #FFF;
    padding: 11px 45px !important;
    padding-top: 21px !important;
    width: 361px;
    height: 460px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px -25px #000;
    gap: 20px !important;
}

.top .entrance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.top .entrance .image {
    display: flex;
    justify-content: center;
}

.top .entrance .text p {
    text-align: center;
    font-size: 19px !important;
    font-weight: 400 !important;
}

.top .main-form {
    margin-top: 5px !important;
    display: flex;
    flex-direction: column;
    align-items: end !important;
    gap: 20px;
}

.top .main-form p:nth-child(1) {
    margin-bottom: -20px;
    color: #5FE0D8;
    text-transform: uppercase;
}

.top .main-form input:nth-child(2) {
    font-size: 20px;
    outline: none;
    box-shadow: 0 0 10px -5px #000;
    border-radius: 10px;
    border: none;
    padding: 9px 14px;
    width: 100%;
}

.top .main-form input:focus {
    transition: 0.5s;
    box-shadow: none !important;
    border: 1px solid #5FE0D8 !important;
}

.top .main-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.top .main-form .kapcha {
    height: 30px;
    background: red;
    width: 100%;
}

.top .main-form .phone-number-button {
    cursor: pointer;
    width: 100%;
    height: 47px;
    padding: 5px;
    background: #333333;
    border-radius: 9px;
    color: #FFF;
    font-size: 23px;
    border: solid 2px #333333 !important;
    transition: 0.3s ease-in-out;
}

.top .main-form .phone-number-button:hover {
    background: #FFF;
    color: #333333;
}

.top .main-form .light-button {
    background: #5FE0D8 !important;
    border: solid 2px #5FE0D8 !important;
}

.top .main-form .light-button:hover {
    color: #5FE0D8 !important;
    background: none !important;
}

.top > .text {
    display: flex;
    flex-direction: column;
    gap: 20px !important;
}

.top > .text p {
    font-weight: 400 !important;
}

.top > .text p:nth-child(1) {
    font-size: 15px !important;
    text-align: center;
    color: #808080;
    letter-spacing: 1px;
}

.top > .text p:nth-child(1) span {
    color: #000;
}

.top > .text p:nth-child(2) {
    font-size: 15px !important;
    text-align: center;
    color: #808080;
}

.top > .text p:nth-child(2) span {
    color: #000;
}

.top-aqua {
    box-shadow: 0 0 50px -10px #5FE0D8;
}

.register .form .bottom {
    margin-top: 19px;
    color: #6B6B6B;
    font-family: GT Walsheim Pro, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

.bottom-part {
    display: flex;
    justify-content: space-between;
    background: #F6F5F7;
    padding: 0 13px;
    font-size: 12px;
}

.bottom-part span {
    letter-spacing: 1px;
}

.not-found {
    color: #9D9D9D !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-transform: none !important;
}

.recover {
    opacity: 0;
}

/*!* Popup *!*/
.popup-content {
    position: absolute;
    top: 76%;
    left: 44%;
    width: 198px;
    height: 159px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 0.12);
}

.popup-content p {
    width: calc(100% - 40px);
    margin: 0 auto;
    color: #B0B0B0;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: start;
}

.login_search {
    margin-left: 10px;
}

@media screen  and (max-width: 600px) {
    .popup-content {
        display: none !important;
    }
}
