@import url("https://gistcdn.githack.com/mfd/7c7a915eb31474cc8c6a65066a4c4dc3/raw/f0f2fb94c21dea904812a53e0eb6cf0bc87f3754/GTWalsheimPro.css");

* {
    font-family: "GT Walsheim Pro", serif;
    margin: 0;
    padding: 0;
    color: #373737;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
}

a {
    text-decoration: none;
}

.flex-row {
    display: flex !important;
    flex-direction: row !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/*Header*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.header_nav {
    justify-content: space-between;
}

.header_nav_content {
    display: flex;
    position: fixed;
    width: 290px;
    height: 590px;
    top: 60px;
    right: 0;
    z-index: 9;
    background: #F3F3F3;
    margin-right: 14px;
    border-radius: 0 0 35px 35px;
    overflow: hidden;
}

.header_nav_content_container {
    margin-left: 22px;
    margin-top: 20px;
}

.header_nav_list * {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 18px;
    user-select: none;
    color: black;
    margin-left: -2rem;
}

.user_data {
    display: flex;
}

.user_data h4 {
    margin-left: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.services {
    width: 57px;
    height: 57px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.service_block p {
    user-select: none;
    text-align: center;
    font-size: 16px;
}

.nav_service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 240px;
    margin-top: 20px;
}

.nav_service p {
    margin-left: -1rem;
}

.pro__service {
    margin-left: 10px;
}

.logo {
    margin-left: 25px;
}

.min_nav {
    width: 290px;
    height: 65px;
    background: #F3F3F3;
    display: flex;
    justify-content: end;
    margin-right: 14px;
    border-radius: 0 0 35px 35px;
    transition: border-radius 0.1s;
}

.min_nav img {
    width: 47px;
    margin-left: 11px;
}

.min_nav div {
    margin-left: 11px;
    margin-right: 21px;
    margin-top: 9px;
}

.content_container {
    position: relative;
    top: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secure_link {
    color: #5B5B5B;
    user-select: none;
}

.secure_link * {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #5B5B5B;
}

/*Navbar*/

.navbar__menu {
    position: fixed;
    width: 289px;
    height: 833px;
    border-radius: 0 35px 35px 0;
    background: #F3F3F3;
    z-index: 2;
}

.navbar__list {
    display: flex !important;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.swiper-wrapper * {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 70px 10px 20px !important;
    width: 100% !important;
    max-width: 250px !important;
    margin: 10px 23px 0 0;
}

.swiper-wrapper div:nth-child(7) {
    margin-top: 30px;
}

.border {
    position: absolute;
    top: 35%;
    margin-top: 20px;
    margin-left: 23px;
    width: 70px;
    height: 1px;
    background: black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 13px;
    white-space: nowrap;
}

footer span {
    font-size: 12px;
    letter-spacing: 1px;
}
footer p {
    font-size: 12px;
}
.navbar__link {
    user-select: none;
    transition: 0s;
}

.navbar__link:hover {
    /*box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);*/
    background-color: white;
    border-radius: 20px;
}

.radiosNone {
    border-radius: 0;
    background: #F3F3F3;
}

.user_service {
    display: flex;
}

.active {
    background-color: white;
    border-radius: 20px;
    /*box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);*/
    transition: 0s;
}

.active:hover {
    background-color: white;
}

.main {
    display: none;
}

.data {
    display: none;
}

.d-none {
    display: block !important;
}

/* Transitions */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.2s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

/*Loading*/
.loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    z-index: 9999;
}

@media screen and (max-width: 1300px) {
    header {
        background-color: white;
    }

    .border {
        display: none
    }

    .min_nav {
        background-color: white;
        max-width: 280px;
        transition: 0.1s;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.1s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    .radiosNone {
        background: #F3F3F3;
        transition: 0s;
    }

    .content_container {
        flex-direction: column;
    }

    .navbar__menu {
        background-color: white;
        position: fixed;
        width: 100%;
        z-index: 2;
        height: 50px;
        left: 20px;
    }

    .navbar__list {
        background: #F3F3F3;
        border-radius: 35px 0 0 35px;
        width: 100%;
    }

    .header_nav_content {
        margin-right: 0;
        max-width: 280px;
    }

    .navbar__list .swiper-wrapper {
        display: flex;
        border-radius: 35px 0 0 35px;
        background: #F3F3F3;
        flex-direction: row;
        /*padding: 15px 20px 15px 20px;*/
        padding: 10px 15px 10px 15px;
    }

    .navbar__list .swiper-wrapper .navbar__link {
        padding: 10px !important;
        width: auto !important;
        white-space: nowrap;
        margin: 0 !important;
        margin-left: 10px !important;
    }

    .min_nav {
        margin-right: 0;
    }

    .navbar__link:hover {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
        background-color: transparent;
    }
    .active{
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
    }
    .active:hover {
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
        background-color: white;
    }

    .main__content {
        margin: 80px 20px 0 20px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .header_nav {
        margin-top: 60px;
    }

    .header_nav_list * {
        white-space: nowrap;
    }

    .secure_link * {
        margin-top: 9px;
        font-size: 15px;
        text-align: start;
        font-size: 11px;
    }

    .logo {
        margin-left: 50px;
    }

    .min_nav {
        max-width: 250px;
        width: 100%;
    }

    .header_nav_content {
        margin-right: 0;
        max-width: 250px;
        width: 100%;
    }

    .navbar__menu {
        top: 125px
    }

    .nav_service {
        max-width: 220px;
    }

    .content_container {
        top: 120px
    }

    .header_nav_content {
        top: 120px;
        border-radius: 0 0 0 35px;
    }

    .min_nav {
        border-radius: 35px 0 0 0;
    }

    .radiosNone {
        background: #F3F3F3;
    }

    .d-none {
        display: none !important;
    }

    footer {
        background: white;
    }

    .footer_mob {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer p {
        font-size: 13px;
    }

    footer span {
        /*margin-left: 100px;*/
    }
}

@media screen and (max-width: 390px) {
    .logo {
        margin-left: 25px;
    }

    .header_nav_content {
        max-width: 242px;
    }
}
