.kon_header{
    margin-left: 16px;
}
.kon_header span {
    color: #525252;
    font-size: 17px;
}

.edition {
    display: flex;
}

.edition_container {
    margin-top: 21px;
    max-width: 500px;
    width: 100%;
    height: 75px;
    border-radius: 20px;
    background: #5FE0D8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 22px;
}
.edition_container span{
    font-weight: 400 !important;
}
@media screen and (max-width: 600px){
    .kon_header{
        margin-left: 0;
        max-width: 500px;
    }
    .edition_container{
        margin-left: 0;
    }
}
@media screen and (max-width: 600px){
    .kon_header{
        margin-left: 17px;
    }
    .edition_container{
        margin-left: 17px;
    }
}